<div class="sec-title mb-5">
   <h2>Contact Us</h2>
</div>
<div class="contact-info-blocks row mb-3">
   <div class="contact-block col-12 col-sm-6 mb-4">
      <div class="contact-title">
         <h5>Email</h5>
      </div>
      <div class="contact-content">
         <p class="d-inline-block mb-0">Email: <a href="mailto:zs@zacstock.com" class="mb-0 d-inline-block">zs@zacstock.com</a></p>
      </div>
   </div>
   <!-- contact-block wrap close -->
   <div class="contact-block col-12 col-sm-6 mb-4">
      <div class="contact-title">
         <h5>Phone</h5>
      </div>
      <div class="contact-content mb-3">
         <p class="d-inline-block mb-0">Call: <a href="tel:5026329793" class="mb-1 d-inline-block">(502) 632-9793</a></p>
      </div>
      <!-- contact-content wrap close -->
   </div>
   <!-- contact-block wrap close -->
</div>
<!-- contact-info-blocks wrap close -->
