<app-banner pageTitle="About Us"></app-banner>
<!-- banner sec close -->
<div class="content pt-0 pb-0">
   <div class="about-page-wrap">
      <div class="about-content sec-pad">
         <div class="container">
            <div class="row pt-2 pt-lg-0">
               <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
                  <div class="sec-content text-center">
                     <div class="sec-line mb-4">
                     </div>
                     <span>Our creative <span class="highlight">specialists work</span> on an<span class="highlight"> international level</span> at branding, design and development.</span> <span>Both online and offline.</span>
                  </div>   
               </div>
            </div>
         </div> 
      </div>
      <!-- About Us Content Close  -->
      <div class="brands-wrap pb-0">
         <div class="row align-items-stretch no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
               <div class="image-wrap overlay-wrap">
                  <div class="overlay-content dark-overlay d-flex align-items-center px-3 px-xl-5">
                     <div class="sec-title">
                        <h3 class="text-white font-weight-bold"><span class="about-cus-font">Our Brands.</span></h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
               <div class="row no-gutters">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-color">
                     <div class="brands-content-wrap d-flex align-items-center justify-content-center h-100">
                        <div class="brands-content">
                           <div class="text-foreground mrgn-b-2">
                              <div class="number-wrap">
                                <span class="number-count font-weight-bold font-xlx">01</span>
                              </div>
                              <div class="text-wrap pl-3">
                                 <span class="text-title font-weight-bold font-lgx">Planning</span>
                              </div>
                           </div> 
                           <div class="sec-content">
                              <p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
                           </div>
                        </div>
                     </div>   
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-color">
                     <div class="brands-content-wrap d-flex align-items-center justify-content-center h-100">
                        <div class="brands-content">
                           <div class="text-foreground mrgn-b-2">
                              <div class="number-wrap">
                                <span class="number-count font-weight-bold font-xlx">02</span>
                              </div>
                              <div class="text-wrap pl-3">
                                 <span class="text-title font-weight-bold font-lgx">Discover</span>
                              </div>
                           </div> 
                           <div class="sec-content">
                              <p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. quod maxime pl.</p>
                           </div>
                        </div>
                     </div>   
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-color">
                     <div class="brands-content-wrap d-flex align-items-center justify-content-center h-100">
                        <div class="brands-content">
                           <div class="text-foreground mrgn-b-2">
                              <div class="number-wrap">
                                <span class="number-count font-weight-bold font-xlx">03</span>
                              </div>
                              <div class="text-wrap pl-3">
                                 <span class="text-title font-weight-bold font-lgx">Creation</span>
                              </div>
                           </div> 
                           <div class="sec-content">
                              <p class="mb-0">Flexible fremework to provide you the full control over designs and functionality. Component and modules easy to develope sections with ease.</p>
                           </div>
                        </div>
                     </div>   
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 bg-color">
                     <div class="brands-content-wrap d-flex align-items-center justify-content-center h-100">
                        <div class="brands-content">
                           <div class="text-foreground mrgn-b-2">
                              <div class="number-wrap">
                                <span class="number-count font-weight-bold">04</span>
                              </div>
                              <div class="text-wrap pl-3">
                                 <span class="text-title font-weight-bold font-lgx">Implementation</span>
                              </div>
                           </div> 
                           <div class="sec-content">
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                        </div>   
                     </div>   
                  </div>
               </div>                
            </div>
         </div>   
      </div>
      <!-- Brands Wrap Close -->               
      <div class="about-us-sec">
         <div class="row no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-xl-8 d-flex align-items-center">
               <div class="about-us-content w-100">
                  <div class="row">
                   
                     <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                           <div class="icon-about mb-4" title="Trusted Brand in the World"><i class="fas fa-shield-alt" ></i></div>
                        <h5 class="title text-dark mrgn-b-2 font-weight-light lh-17">
                           Posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos.
                        </h5>
                        <p class="mrgn-b-2 lh-17">
                           Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus, nec taciti vestibulum quis in sit varius lorem sit metus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi dictumst proin odio sagittis purus mi ut metus lobortis tortor tincidunt. 
                        </p>
                        <div class="social-links">
	                        <app-social-icons [socialIcons]="socialIcons"></app-social-icons> 
	                     </div>
                     </div>   
                  </div>
               </div>   
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-4">
               <!-- <div class="image-wrap">
                     <h3 class="mrgn-b-2"><span class="about-cus-font">About Droplet Studio.</span></h3>
               </div> -->
               <div class="image-wrap overlay-wrap about-stu">
                  <div class="overlay-content dark-overlay d-flex align-items-center px-3 px-xl-5">
                     <div class="sec-title">
                        <h3 class="text-white font-weight-bold">
                           <span class="about-cus-font">About Kava Studio.</span>
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>   
      </div>
      <!-- About Us Sec Close -->
      <div class="skills-wrap" dir="ltr">
         <app-team-member [teamContent]="teamContent" [teamMemberSlideConfig]="teamSlideConfig"  title="Our Team Members."></app-team-member>
      </div>
      <!-- skills wrap close -->
      <!-- <div class="client-wrap" dir="ltr">
         <div class="container-fluid px-0">
            <div class="row no-gutters">
               <div class="col-12 col-sm-12 col-md-4 col-lg-3 py-4 d-flex align-items-center bg-dark justify-content-center">
                  <div class="sec-title btn-square">
                     <h4 class="text-white mb-0">Our Client</h4>
                  </div>
               </div>
               <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                  <div class="client-image-slider">
							<app-client-slider [sliderContent] = "clientSlider" [clientSlideConfig] = "clientSlideConfig"></app-client-slider>
                  </div>
               </div>
            </div>
         </div>   
      </div> -->
      <!-- Client wrap Close -->

      <div class="hiring-sec hiring-sec-space sec-pad">
         <div class="container">
            <div class="hiring-sec-info row">
               <div class="col-12 col-md-10 mx-auto">
                  <div class="call-in-action-wrap text-center">
                     <h5 class="font-bold">Want to be one of Us ?</h5>
                     <h3 class="mrgn-b-2 resp-title">We’ll be happy to see you in the <span class="highlight font-muli">Team </span>!</h3>
                     <div class="button-wrap">
                        <a href="javascript:void(0)" [routerLink]="['/contact']" routerLinkActive="active-link" class="btn btn-click-effect btn-secondary-grad">
                           WE ARE HIRING
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Hiring Sec -->

   </div>
</div>
