<app-banner pageTitle="FAQ"></app-banner>
<!-- banner sec close -->
<div class="content py-0">
   <div class="faq-page-wrap">
      <app-search-v2 btnContent="Search Here"></app-search-v2>
      <!-- Contact Sec -->
      <div class="faq-wrap shape-wrap sec-pad">
         <div class="shape-group">
            <span class="custom-shape pos-size-1">                     
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 482.073 504.275">
                  <path xmlns="http://www.w3.org/2000/svg" data-name="Custom Polygon 4" class="svg-gray" d="M229.2,75c19.245-33.333,67.358-33.333,86.6,0L465.195,333.753c19.245,33.333-4.811,75-43.3,75H123.111c-38.49,0-62.546-41.667-43.3-75Z" transform="translate(351.63 -86.448) rotate(68)"/>
               </svg>
            </span>
            <span class="custom-shape pos-size-2">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118.742 111.528">
                  <path data-name="Custom Polygon 3" class="svg-border svg-border-3" d="M57.148,30a20,20,0,0,1,34.641,0l29.85,51.7a20,20,0,0,1-17.321,30h-59.7A20,20,0,0,1,27.3,81.7Z" transform="translate(123.95 131.338) rotate(-172)"/>
               </svg>
            </span>
            <span class="custom-shape pos-size-3">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.413 60.176">
                  <path data-name="Custom Polygon 2" class="svg-border svg-border-2" d="M25.109,16.5a11,11,0,0,1,19.053,0L55.1,35.452a11,11,0,0,1-9.526,16.5H23.693a11,11,0,0,1-9.526-16.5Z" transform="translate(45.416 -13.816) rotate(68)"/>
               </svg>
            </span>
            <span class="custom-shape pos-size-4">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.413 60.176">
                  <path data-name="Custom Polygon 2" class="svg-border svg-border-1" d="M25.109,16.5a11,11,0,0,1,19.053,0L55.1,35.452a11,11,0,0,1-9.526,16.5H23.693a11,11,0,0,1-9.526-16.5Z" transform="translate(45.416 -13.816) rotate(68)"/>
               </svg>
            </span>
         </div>
         <!-- shape group close -->
         <div class="container">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 faq-gap" *ngFor="let content of faqContent">
                  <div class="faq-item accordion" id="{{content.accordionId}}">
                     <div class="text-foreground mrgn-b-2">
                        <div class="number-wrap">
                          <span class="number-count font-weight-bold font-xlx">{{content.number}}</span>
                        </div>
                        <div class="text-wrap pl-3">
                           <span class="text-title font-weight-bold font-lgx">{{content.title}}</span>
                        </div>
                     </div>  
                     <div class="faq-card card mb-2" *ngFor="let faq of content.queries">
                        <div class="card-header p-0" id="{{faq.headingId}}">
                           <a class="faq-ques-link d-block text-dark py-2 px-4 {{faq.collapsedClass}}" data-toggle="collapse" attr.data-target="#{{faq.collapseId}}" aria-expanded="true" aria-controls="collapseOne">
                              {{faq.question}}
                           </a>
                        </div>
                        <div id="{{faq.collapseId}}" class="collapse {{faq.showClass}}" aria-labelledby="faq.headingId" attr.data-parent="#{{content.accordionId}}">
                           <div class="card-body py-2 px-4">
                              {{faq.answer}}
                           </div>
                        </div>
                     </div>
                  </div> 
                  <!-- faq item --> 
               </div>       
            </div> 
         </div>   
      </div> 
      <!-- faq section close -->    
   </div>   
</div>