<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="tel:15026329793">
        <i class="fas fa-phone-square"></i>      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:zs@zacstock.com?subject=Website Contact Bar">
        <i class="fas fa-envelope"></i>      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/zacstock_webdev/">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.facebook.com/ZacStockWebDev/">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</nav>
